{{ define "title" }}{{ .Title }}{{ end }}

{{ define "css" }}

{{ if .Site.Params.highlightjs }}
{{ if .Site.Params.highlightjsTheme }}
<link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/{{ .Site.Params.highlightjsTheme }}.min.css" />
{{ else }}
<link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css" />
{{ end }}
{{ end }}

{{ if .Site.Params.valine }}
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
{{ end }}

{{ end }}

{{ define "main" }}
{{- $datetimeformat := i18n "datetimeformat" -}}
{{- $datapersons := .Site.Data.persons -}}
{{- $semwebpersons := .Site.Params.semweb.persons -}}
{{- $frontmatterpersons := .Params.authors }}
<div class="ui relaxed centered grid dream-grid dream-grid-single"{{ if .Site.Params.reversePostAndAside }}style="flex-direction: row-reverse;"{{ end }}>
  <!-- len <nav id="TableOfContents"></nav> == 32 -->
  {{ $showTOC := ge (len .TableOfContents) 33 }}
  {{ $shareInAside := .Site.Params.shareInAside }}
  {{ $showAside := .Site.Params.showInAside }}  {{/* YourOnly.One: Do not remove */}}

  {{ if $showAside }}
  <aside class="sixteen wide mobile sixteen wide tablet three wide computer column dream-single-aside">
  {{ end }}

    <div id="Mabuhay_Clock_Flag" class="ui segment actions">
      <div class="txt_center margin_bottom_block_end" lang="fil-Tglg" style="font-size: 3em; margin-bottom: 0.3em; margin-block-end: 0.3em;">ᜋᜊᜓᜑᜌ᜔</div>
      {{- /* <div class="txt_center"><iframe src="https://freesecure.timeanddate.com/clock/i7bkql2t/n1440/tlkr47/fn8/fs20/fc00de23/tc000/pct/ftb/bas7/bat4/bac00de23/pa10/tt0/tw0/tm3/td2/th1/ts1/ta1/tb4" sandbox="allow-same-origin allow-scripts" allowfullscreen="allowfullscreen" frameborder="0" width="155" height="80" allowtransparency="true"></iframe></div> */ -}}
      {{- /* <div class="txt_center" style="font-size: 7em; height: 1.20em;"><span class="unicode_emoji">&#x1F1F5;&#x1F1ED;</span></div> */ -}}
    </div>

    <div id="translations_sidebar" class="ui segment toc txt_center">
      <a href="{{ .Permalink }}" lang="{{ or (.Site.LanguageCode) (.Site.Language.Lang) }}" class="active" title="{{ .Site.Language.LanguageName }}"><span class="large-flag">{{ .Site.Language.Params.languageflag }}</span> ({{ .Site.Language.LanguageName }})</a>
      {{ if .IsTranslated -}}
        {{ range .Translations }}
          <span class="lang-separator">・</span> <a href="{{ .Permalink }}" lang="{{ or (.Site.LanguageCode) (.Site.Language.Lang) }}" title="{{ .Site.Language.LanguageName }}"><span class="large-flag">{{ .Site.Language.Params.languageflag }}</span> ({{ .Site.Language.LanguageName }})</a>
        {{ end }}
      {{ else }}
        {{ range .Site.Languages }}
          {{ if not (eq .Lang $.Site.Language.Lang) }}
            <span class="lang-separator">・</span> <span class="no-lang" title="{{ .Params.LanguageName }}"><span class="large-flag">{{ .Params.languageflag }}</span> ({{ .Params.LanguageName }})</span>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>

    {{ if $showTOC }}
    <div class="ui segment toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}

    {{- /* BGN: YourOnly.One Content-PartOf */ -}}
      {{- $partofseries := $.Site.RegularPages.RelatedIndices . "series" -}}
      {{- if $partofseries -}}
        {{- if templates.Exists "partials/youronly.one-content-partof.html" -}}
          <div id="partof" class="ui segment toc">
            {{ partial "youronly.one-content-partof.html" . }}
          </div>
        {{- end }}
      {{- end -}}
    {{- /* END: YourOnly.One Content-PartOf */ -}}

    {{ if $shareInAside }}
    {{ partial "share1.html" . }}
    {{ end }}

  {{ if $showAside }}
  </aside>
  {{ end }}

  <div class="sixteen wide mobile sixteen wide tablet ten wide computer column markdown-body dream-single" id="dream-save-post-as-img">
    <section class="h-entry ui segment" data-clarity-region="article">
      <header>
        <h1 class="ui large header">
          <span class="p-name">{{- .Title -}}</span>
          <span class="sub header">
            <span class="left">
              {{- /* YourOnly.One: changed
                @
                {{ if isset .Params "author" }}
                  {{ if isset .Params "authorlink" }}
                    <a href="{{ .Params.authorlink }}" target="_blank">{{ .Params.author }}</a>
                  {{ else }}
                    {{ .Params.author }}
                  {{ end }}
                {{ else }}
                  {{ .Site.Params.author }}
                {{ end }}
              */ -}}
              {{ if $frontmatterpersons }}{{ range $i, $frontmatterperson := index $frontmatterpersons }}{{ $dataperson := index $datapersons $frontmatterperson.person }}{{ if $i }}, {{ end }}
                {{- /* note: if [[authors]] is set in frontmatter, use this to display a list of persons with fallback to /data/persons/ if present */}}
                {{ with or ($frontmatterperson.avatar) ($dataperson.avatar) }}{{ with or ($frontmatterperson.url) ($dataperson.url) }}<a href="{{ . }}" class="p-author h-card" rel="author{{ with or ($frontmatterperson.rel) ($dataperson.rel) }} {{ . }}{{ end }}">{{ end }}<img class="u-photo ui avatar image" src="{{ . }}" alt="avatar" />{{ with or ($frontmatterperson.url) ($dataperson.url) }}</a>{{ end }}{{ end }}
                <address class="p-author h-card">{{ with or ($frontmatterperson.url) ($dataperson.url) }}<a href="{{ . }}" class="u-url p-name" rel="author{{ with or ($frontmatterperson.rel) ($dataperson.rel) }} {{ . }}{{ end }}">{{ end }}{{ or ($frontmatterperson.name) ($dataperson.name) }}{{ with or ($frontmatterperson.url) ($dataperson.url) }}</a>{{ end }}</address>
                {{ end }}
              {{ else if $semwebpersons }}{{ range $i, $semwebperson := index $semwebpersons }}{{ $dataperson := index $datapersons $semwebperson.person }}{{ if $i }}, {{ end }}
                {{- /* note: else if [[semweb.persons]] is set in config file, use it to display a list of persons with fallback to /data/persons/ if present */}}
                {{ with or ($semwebperson.avatar) ($dataperson.avatar) }}{{ with or ($semwebperson.url) ($dataperson.url) }}<a href="{{ . }}" class="p-author h-card" rel="author{{ with or ($semwebperson.rel) ($dataperson.rel) }} {{ . }}{{ end }}">{{ end }}<img class="u-photo ui avatar image" src="{{ . }}" alt="avatar" />{{ with or ($semwebperson.url) ($dataperson.url) }}</a>{{ end }}{{ end }}
                <address class="p-author h-card">{{ with or ($semwebperson.url) ($dataperson.url) }}<a href="{{ . }}" class="u-url p-name" rel="author{{ with or ($semwebperson.rel) ($dataperson.rel) }} {{ . }}{{ end }}">{{ end }}{{ or ($semwebperson.name) ($dataperson.name) }}{{ with or ($semwebperson.url) ($dataperson.url) }}</a>{{ end }}</address>
                {{ end }}
              {{ else if .Param "author" }}
                {{- /* note: else if default Hugo 'author' param is used in frontmatter or config, display generic */}}
                {{ with .Param "author.avatar" }}{{ with .Param "author.url" }}<a href="{{ . }}" class="p-author h-card" rel="author{{ with .Param "author.rel" }} {{ . }}{{ end }}">{{ end }}<img class="u-photo ui avatar image" src="{{ . }}" alt="avatar" />{{ with .Param "author.url" }}</a>{{ end }}{{ end }}
                <address class="p-author h-card">{{ with .Param "author.url" }}<a href="{{ . }}" class="u-url p-name" rel="author{{ with .Param "author.rel" }} {{ . }}{{ end }}">{{ end }}{{ .Param "author.name" }}{{ with .Param "author.url" }}</a>{{ end }}</address>
              {{ end }}
                &nbsp;| {{ if .Site.Params.Experimental.jsDate }}
                  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" class="dt-published">{{ time.Format $datetimeformat .Date }}</time>
                {{ else }}
                  {{ if eq .Site.Language.Lang "zh" }}
                    {{ index .Site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}, {{ index .Site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
                  {{ else if eq .Site.Language.Lang "es" }}
                    {{ index .Site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
                  {{ else if eq .Site.Language.Lang "pt" }}
                    {{ index .Site.Data.pt.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.pt.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
                  {{ else if eq .Site.Language.Lang "fr" }}
                    {{ index .Site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index .Site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
                  {{ else }}
                    {{/* YourOnly.One: changed */}}
                    <time datetime="{{ .Date.UTC.Format "2006-01-02T15:04:05Z07:00" }}" class="dt-published">{{ time.Format $datetimeformat .Date }}</time>
                  {{ end }}
                {{ end }}

              | {{ .ReadingTime }}{{ i18n "minuteRead" .ReadingTime }}

              {{/* YourOnly.One: replaced {{ if ne .Params.nolastmod true }} */}}
              {{ if ne .PublishDate .Lastmod }}
                | {{ i18n "updateAt" }}
                {{ if .Site.Params.Experimental.jsDate }}
                  <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" class="dt-updated">{{ time.Format $datetimeformat .Lastmod }}</time>
                {{ else }}
                  {{ if eq .Site.Language.Lang "zh" }}
                    {{ index .Site.Data.zh.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ index .Site.Data.zh.Month (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Day }} 日，{{ .Lastmod.Year }} 年
                  {{ else if eq .Site.Language.Lang "es" }}
                    {{ index .Site.Data.es.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
                  {{ else if eq .Site.Language.Lang "pt" }}
                    {{ index .Site.Data.pt.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.pt.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
                  {{ else if eq .Site.Language.Lang "fr" }}
                    {{ index .Site.Data.fr.Weekday (printf "%d" .Date.Weekday) }} {{ .Date.Day }} {{ index .Site.Data.fr.Month (printf "%d" .Date.Month) }} {{ .Date.Year }}
                  {{ else }}
                    {{/* YourOnly.One: changed */}}
                    <time datetime="{{ .Lastmod.UTC.Format "2006-01-02T15:04:05Z07:00" }}" class="dt-updated">{{ time.Format $datetimeformat .Lastmod }}</time>
                  {{ end }}
                {{ end }}
              {{ end }}
            </span>

            {{ if not $shareInAside }}
            {{ partial "share.html" . }}
            {{ end }}
          </span>
        </h1>
      </header>

      <article class="e-content main">
        {{- /* YourOnly.One: changed
          {{ if and .Params.Cover .Site.Params.showSummaryCoverInPost }}
          <img class="u-featured cover" src="{{ .Params.Cover }}" />
          {{ end }}
        */ -}}
        {{ with and .Site.Params.showSummaryCoverInPost .Params.images }}
          <img class="u-featured cover" src="{{ index . 0 | absURL }}" />
        {{ end }}

        {{- /* BGN: YourOnly.One: changed */ -}}
          {{- /* .Content | emojify */ -}}

          {{- $inserthere := `<div role="cover-image-attributions">` -}}
          {{- $insertcontent := partial "youronly.one-content-partof.html" . -}}
          {{- $joined := print $insertcontent $inserthere -}}
          {{- $content := replace .Content $inserthere $joined 1 -}}
          {{ $content | safeHTML }}
        {{- /* END: YourOnly.One: changed */ -}}

        {{ with .Params.syndications }}
          {{ partial "syndications.html" . }}
        {{ end }}
      </article>

      <article class="ui top attached segment">
        <!-- BGN: YourOnly.One Head-01-Top -->
          {{- if templates.Exists "partials/youronly.one-post-02-btm.html" -}}
            {{ partial "youronly.one-post-02-btm.html" . }}
          {{- end }}
        <!-- END: YourOnly.One Head-01-Top -->
      </article>
    </section>

    {{ template "_internal/webmention.html" . }}
    <article class="ui segment post-webmention" data-html2canvas-ignore>
      <div id="webmentions"></div>
    </article>

    {{ if .Site.DisqusShortname }}
    <article class="ui segment post-disqus-area" data-html2canvas-ignore>
      {{ template "_internal/disqus.html" . }}  {{/* YourOnly.One: Do not remove */}}
    </article>
    {{ end }}

    {{ if .Site.Params.utterancesRepo }}
    <article class="ui segment utterances-comments" data-html2canvas-ignore>
      <script
        src="https://utteranc.es/client.js"
        repo="{{ .Site.Params.utterancesRepo }}"
        issue-term="og:title"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
    </article>
    {{ end }}

    {{ if .Site.Params.valine }}
    <article class="ui segment" data-html2canvas-ignore>
      <div id="vcomments"></div>
    </article>

    <script>
      new Valine({
        el: '#vcomments',
        appId: '{{ .Site.Params.LEANCLOUD_APP_ID }}',
        appKey: '{{ .Site.Params.LEANCLOUD_APP_KEY }}',
        lang: '{{ .Site.Params.VALINE_LANGUAGE }}'
      })
    </script>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "js" }}

{{ if .Site.Params.Experimental.jsDate }}
{{ partial "luxon.html" . }}
{{ end }}

<script src="{{ "/js/scrollToTop.js" | relURL }}"></script>

{{ if .Site.Params.highlightjs }}
<script src="{{ if .Site.Params.highlightjsCDN }}{{ .Site.Params.highlightjsCDN }}{{ else }}{{ "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js" }}{{ end}}"></script>

{{ if .Site.Params.highlightjsExtraLanguages }}
{{ range .Site.Params.highlightjsExtraLanguages }}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/languages/{{ . }}.min.js"></script>
{{ end }}
{{ end }}

{{ partial "highlight.html" . }}
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js" integrity="sha256-uacRffSSMP9qpvNWhVmYLykBv9YKMA1d/VSIN1AmfyQ=" crossorigin="anonymous"></script>
<script src="{{ "/js/post.js" | relURL }}" defer></script>
{{ end }}
