/* BGN: From Semantic UI
  *   - https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css
  */
  body {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  pre {
    font-family: var(--font-mono-yelosan, monospace);
  }
  code, kbd, samp {
    font-family: var(--font-mono-yelosan, monospace);
  }
  button, input, optgroup, select, textarea {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.button {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.text.container {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.input>input {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.list .list>.item .header, .ui.list>.item .header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.steps .step .title {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.menu {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.message .header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.card>.content>.header, .ui.cards>.card>.content>.header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.items>.item>.content>.header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.statistic>.value, .ui.statistics .statistic>.value {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.statistic>.label, .ui.statistics .statistic>.label {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.accordion .title:not(.ui) {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.modal>.header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.popup>.header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.search>.results .result .title {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.search>.results>.message .header {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .ui.category.search>.results .category>.name {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
/* END: From Semantic UI */

/* BGN: From github-markdown
  *   - https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.min.css
  *   - It is overriding our text in the body
  */
  .markdown-body {
    font-family: var(--font-sans-yelosan, var(--font-hebrew-sans-yelosan, var(--font-baybayin-sans-yelosan, sans-serif)));
  }
  .markdown-body code, .markdown-body kbd, .markdown-body pre {
    font-family: var(--font-mono-yelosan, monospace);
  }
  .markdown-body code, .markdown-body pre {
    font-family: var(--font-mono-yelosan, monospace);
  }
  .markdown-body .commit-tease-sha {
    font-family: var(--font-mono-yelosan, monospace);
  }
  .markdown-body .blob-num {
    font-family: var(--font-mono-yelosan, monospace);
  }
  .markdown-body .blob-code-inner {
    font-family: var(--font-mono-yelosan, monospace);
  }
/* END: From github-markdown */

.markdown-body img {
  background-color: initial;
}

.dream-single .cover .cover-img {
  height: 400px;
  background-position: top;
}
figure {
  text-align: center;
}

/* BGN: Yuki defaults */
#translations_sidebar .emoji {
  vertical-align: middle;
}
/* END: Yuki defaults */
