<script>
  window.background = {{ .Site.Params.background }}
  window.defaultDark = {{ .Site.Params.defaultDark }}
  window.backgroundDark = {{ .Site.Params.backgroundDark }}
  window.backgroundImageDark = {{ .Site.Params.backgroundImageDark }}
  window.darkNav = {{ .Site.Params.darkNav }}
  window.maxTags = {{ .Site.Params.maxTags }}
  window.hasTwitterEmbed = {{ .Site.Params.hasTwitterEmbed }}
  window.fixedNav = {{ .Site.Params.fixedNav }}

  if (window.hasTwitterEmbed) {
    // https://developer.twitter.com/en/docs/twitter-for-websites/javascript-api/guides/set-up-twitter-for-websites
    window.twttr = (function (d, s, id) {
      var js,
        fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {}
      if (d.getElementById(id)) return t
      js = d.createElement(s)
      js.id = id
      js.src = 'https://platform.twitter.com/widgets.js'
      fjs.parentNode.insertBefore(js, fjs)

      t._e = []
      t.ready = function (f) {
        t._e.push(f)
      }

      return t
    })(document, 'script', 'twitter-wjs')
  }
</script>

{{/* NOTE: overlayscrollbars 2.0.1 as of 2022-12-13 -- breaking upgrade */}}
{{- /* <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.0.1/overlayscrollbars.cjs.js" integrity="sha256-JMLE9XZFw5RIe9NpG4hKsI51dVIawkbn/FpLFUkF3CI=" crossorigin="anonymous"></script> */ -}}
{{- /* <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.0.1/overlayscrollbars.esm.js" integrity="sha256-38ievP1/YQZh85+QoFoZGKFkXA3aK0XS3rjy/32Urh8=" crossorigin="anonymous"></script> */ -}}
{{/* NOTE: overlayscrollbars 1.13.3 as of 2022-12-13 */}}
{{- /* <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.3/js/OverlayScrollbars.min.js" integrity="sha256-iCYumt4zrqLnbGEyc2ygcMbdpshYTjFT18Lh2CpbB9k=" crossorigin="anonymous"></script> */ -}}
{{- /* <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.1/js/jquery.overlayScrollbars.min.js" integrity="sha256-tBd38uWlvgfps3zHPrUb2ePBg+Z8EjMf0QloFONzpvU=" crossorigin="anonymous"></script> */ -}}

<script src="{{ "/js/header.js" | relURL }}"></script>
<script src="{{ "/js/main.js" | relURL }}"></script>
<script src="{{ "/js/theme.js" | relURL }}"></script>
